body{
    font-family: 'Special Elite', cursive; 
    background: #ff605b;
}

.header_div{
    background:skyblue;
    color:#acf369;
}

.header_div p{
    font-family:'Roboto', sans-serif;
    color:#fda29f;
    letter-spacing:2px ;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family:'Roboto', sans-serif;
    margin-top:30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: #93ac7d;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #71adcf;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(rgb(185, 88, 88), rgb(122, 255, 122), rgb(107, 107, 255));
}